[Unit]
Description=spc

[Service]
ExecStart=/usr/lib/jvm/java-17-openjdk-amd64/bin/java -jar /tmp/spring-petclinic-2.7.3.jar

[Install]
WantedBy=multi-user.target